<div class="container">
    <mat-toolbar class="custom-toolbar">
        <button matButton class="boton-rojo" aria-label="Menú de objetos"
            [matMenuTriggerFor]="menuobjetos">
            <mat-icon aria-hidden="false" aria-label="Icono de objetos">inventory_2</mat-icon>
            objetos
        </button>

    </mat-toolbar>
    <mat-menu #menuobjetos="matMenu">
        <button mat-menu-item>LISTAR ITEM</button>
        <button mat-menu-item>REGISTRAR+ELIMINAR+EDITAR</button>
        <button mat-menu-item>querie</button>
    </mat-menu>


    <mat-toolbar class="custom-toolbar">
        <button matButton class="boton-rojo" aria-label="Menú de usuarios"
            [matMenuTriggerFor]="menuusuarios">
            <mat-icon aria-hidden="false" aria-label="Icono de usuarios">people</mat-icon>
            usuarios
        </button>

    </mat-toolbar>
    <mat-menu #menuusuarios="matMenu">
        <button mat-menu-item>LISTAR ITEM</button>
        <button mat-menu-item>REGISTRAR+ELIMINAR+EDITAR</button>
        <button mat-menu-item>querie</button>
    </mat-menu>


    <mat-toolbar class="custom-toolbar">
        <button matButton class="boton-rojo" aria-label="Menú de categorías"
            [matMenuTriggerFor]="menucategorias">
            <mat-icon aria-hidden="false" aria-label="Icono de categorías">category</mat-icon>
            categorias
        </button>

    </mat-toolbar>
    <mat-menu #menucategorias="matMenu">
        <button mat-menu-item>LISTAR categorias</button>
        <button mat-menu-item>REGISTRAR+ELIMINAR+EDITAR</button>
        <button mat-menu-item>querie</button>
    </mat-menu>


    <mat-toolbar class="custom-toolbar">
        <button matButton class="boton-rojo" aria-label="Menú de chats"
            [matMenuTriggerFor]="menuchats">
            <mat-icon aria-hidden="false" aria-label="Icono de chats">chat</mat-icon>
            chats
        </button>

    </mat-toolbar>
    <mat-menu #menuchats="matMenu">
        <button mat-menu-item>LISTAR chats</button>
    </mat-menu>


    <mat-toolbar class="custom-toolbar">
        <button matButton class="boton-rojo" aria-label="Cerrar sesión" (click)="cerrarSesion()">
            <mat-icon aria-hidden="false" aria-label="Icono de cerrar sesión">logout</mat-icon>
            cerrar sesión
        </button>

    </mat-toolbar>

</div>
