<div class="container">
    <mat-toolbar class="custom-toolbar">
        <button 
        matButton 
        class="btn-verde" 
        aria-label="Example icon-button with menu icon"
        [matMenuTriggerFor]="menuVerificacion">

        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        Autor
        </button>
    </mat-toolbar>

    <mat-menu #menuVerificacion="matMenu">
        <button 
            mat-menu-item 
            routerLink="/verificacion/nuevo">
            <mat-icon>add</mat-icon>
            Registrar
        </button>
        <button mat-menu-item routerLink="/verificaciones/listar">
            <mat-icon>list</mat-icon>Listar</button>
    </mat-menu>
</div>